<div class="main">
  <nav class="clearfix" role="navigation">
    <div class="nav-cell brand-cell">
      {{#link-to "index"}}
        {{#draw-ganesha
          class="title-view"
          titleText="Bengaluru Ganesh Utsava"
          as |animatedText|
        }}
          {{animatedText}}
        {{/draw-ganesha}}
      {{/link-to}}
    </div>
    <div class="nav-cell">
      {{#link-to "contact-us"}}
        Contact Us
      {{/link-to}}
    </div>
    <div class="nav-cell">
      Schedule
    </div>
    <div class="nav-cell">
      Gallery
    </div>
  </nav>
  <section>
    {{fireworks-splash}}
    {{outlet}}
  </section>
</div>